version: 2
jobs:
  helm-package:
    docker:
    - image: devth/helm:v2.9.1
    working_directory: ~/repo
    steps:
    - checkout
    - run
      name: running helm package
      command: |
        mkdir ~/charts
        helm init --client-only
        helm package $(find charts  -name '\..*' -prune -o -type dir -maxdepth 1 -mindepth 1) -d ~/charts
        helm repo index ~/charts
        gsutil cp ~/charts/* gs://pantel-tests-charts

workflows:
  version: 2
  my-workflow:
    jobs:
    - helm-package
        filters:
          branches:
            only:
            - master
